/* your beautiful css styling goes here! */
/* Note: an asteroid image is included in this repo. 
Feel free to use it if you like. */

html, body {
  height: 100%;
}
#board {
  height: 80%;
  width: 90%;
  border: 2px solid black;
}
